/* --- 01 TYPOGRAPHY SYSTEM
- Font size system (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Font heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing:
0.5px
0.75px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* html {
  font-size: 62.5%;
  scroll-behavior: smooth;
} */

body {
  /* font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400; */
  /* color: #444; */
  /* overflow-x: hidden; */
}

form {
  margin: 0 auto;
}

form label {
  display: block;
  margin-top: 24px;
  margin-bottom: 4px;
}

form input {
  display: block;
  padding: 8px;
  border: 2px solid pink;
  border-radius: 11px;
}

fieldset {
  border: none;
  margin: 24px 0;
  padding: 0;
}

legend {

}

fieldset label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-right: 16px;
  margin-top: 8px;
}

span {
  color: red;
}

fieldset textarea {
  display: block;
}